interactions:
- request:
    body: '{"herp": "derp"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"7196b6d0a0ffe069"']
      location: [/v0/COLLECTION_1/KEY_1/events/log/1419885539100/525984832527273984]
      x-orchestrate-req-id: [b74cd980-8f9a-11e4-b27a-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: '{"herp": "derp"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1419885539100
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"7196b6d0a0ffe069"']
      location: [/v0/COLLECTION_1/KEY_1/events/log/1419885539100/525984833819119616]
      x-orchestrate-req-id: [b7589950-8f9a-11e4-abc0-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1419885539100/525984833819119616
  response:
    body: {string: !!python/unicode '{"path":{"collection":"COLLECTION_1","key":"KEY_1","type":"log","timestamp":1419885539100,"ordinal":525984833819119616,"ref":"7196b6d0a0ffe069","reftime":1419885539177,"ordinal_str":"074cac6b69081000"},"value":{"herp":"derp"},"timestamp":1419885539100,"ordinal":525984833819119616,"reftime":1419885539177}'}
    headers:
      content-type: [application/json]
      etag: ['"7196b6d0a0ffe069"']
      last-modified: ['Mon, 29 Dec 2014 20:38:59 GMT']
      x-orchestrate-req-id: [b7645920-8f9a-11e4-bf54-22000a0d84a1]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"herp": "rofl"}'
    headers:
      Content-Type: [application/json]
      If-Match: ['"153480985695e369"']
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1419885539100/525984833819119616
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"1e1bc2e4a39a11a9"']
      location: [/v0/COLLECTION_1/KEY_1/events/log/1419885539100/525984833819119616]
      x-orchestrate-req-id: [b77b6390-8f9a-11e4-abc0-12313d2f9238]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log?afterEvent=0&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"KEY_1","type":"log","timestamp":1419885539100,"ordinal":525984833819119616,"ref":"1e1bc2e4a39a11a9","reftime":1419885539403,"ordinal_str":"074cac6b69081000"},"value":{"herp":"rofl"},"timestamp":1419885539100,"ordinal":525984833819119616,"reftime":1419885539403}],"next":"/v0/COLLECTION_1/KEY_1/events/log?limit=1&afterEvent=0&beforeEvent=1419885539100/525984833819119616"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1/KEY_1/events/log?limit=1&afterEvent=0&beforeEvent=1419885539100/525984833819119616>;
          rel="next"']
      x-orchestrate-req-id: [b7a86700-8f9a-11e4-bf54-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
      If-Match: ['"1e1bc2e4a39a11a9"']
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1419885539100/525984833819119616?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [b7b3d8b0-8f9a-11e4-b27a-12313d2f7cdc]
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1419885539845/525984845026299904?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [b7ca6df0-8f9a-11e4-bf54-22000a0d84a1]
    status: {code: 204, message: No Content}
version: 1
