interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"message":"The requested items could not be
        found.","details":{"items":[{"collection":"COLLECTION_1","key":"KEY_1"}]},"code":"items_not_found"}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [4c3e05a0-825d-11e4-a70c-12313d2f9238]
    status: {code: 404, message: Not Found}
- request:
    body: '{"derp": true}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"e3f664c2807f4787"']
      location: [/v0/COLLECTION_1/KEY_1/refs/e3f664c2807f4787]
      x-orchestrate-req-id: [4c575a00-825d-11e4-a6de-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/refs/e3f664c2807f4787
  response:
    body: {string: !!python/unicode '{"derp":true}'}
    headers:
      content-type: [application/json]
      etag: ['"e3f664c2807f4787"']
      last-modified: ['Sat, 13 Dec 2014 00:16:35 GMT']
      x-orchestrate-req-id: [4c68e630-825d-11e4-a439-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"derp":true}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/e3f664c2807f4787]
      content-type: [application/json]
      etag: ['"e3f664c2807f4787"']
      last-modified: ['Sat, 13 Dec 2014 00:16:35 GMT']
      x-orchestrate-req-id: [4c7960f0-825d-11e4-a70c-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [4c89dbb0-825d-11e4-a6de-22000a0d84a1]
    status: {code: 204, message: No Content}
version: 1
