interactions:
- request:
    body: '{"count": 1, "foo": false, "eggs": false, "baz": true, "derp": false, "herp":
      true}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"37e2962abc87a5a6"']
      location: [/v0/COLLECTION_1/KEY_1/refs/37e2962abc87a5a6]
      x-orchestrate-req-id: [4e21b9c0-825d-11e4-a439-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: '[{"path": "derp", "value": true, "op": "add"}]'
    headers:
      Content-Type: [application/json-patch+json]
    method: PATCH
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"cbddb4bb44bcf396"']
      location: [/v0/COLLECTION_1/KEY_1/refs/cbddb4bb44bcf396]
      x-orchestrate-req-id: [4e33bb20-825d-11e4-a70c-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"count":1,"foo":false,"eggs":false,"baz":true,"derp":true,"herp":true}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/cbddb4bb44bcf396]
      content-type: [application/json]
      etag: ['"cbddb4bb44bcf396"']
      last-modified: ['Sat, 13 Dec 2014 00:16:38 GMT']
      x-orchestrate-req-id: [4e452040-825d-11e4-a6de-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: '[{"path": "bar", "value": true, "op": "add"}, {"path": "derp", "op": "remove"},
      {"path": "herp", "value": false, "op": "replace"}, {"path": "spam", "from":
      "baz", "op": "move"}, {"path": "herpderp", "from": "eggs", "op": "copy"}, {"path":
      "foo", "value": false, "op": "test"}, {"path": "count", "value": 1, "op": "inc"},
      {"path": "count", "value": 2, "op": "inc"}, {"path": "count", "value": -1, "op":
      "inc"}, {"path": "count", "value": -2, "op": "inc"}]'
    headers:
      Content-Type: [application/json-patch+json]
      If-Match: ['"cbddb4bb44bcf396"']
    method: PATCH
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"e759c492093322eb"']
      location: [/v0/COLLECTION_1/KEY_1/refs/e759c492093322eb]
      x-orchestrate-req-id: [4e5573f0-825d-11e4-a439-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"foo":false,"eggs":false,"bar":true,"herp":false,"spam":true,"herpderp":false,"count":1}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/e759c492093322eb]
      content-type: [application/json]
      etag: ['"e759c492093322eb"']
      last-modified: ['Sat, 13 Dec 2014 00:16:38 GMT']
      x-orchestrate-req-id: [4e6b45e0-825d-11e4-a70c-12313d2f9238]
    status: {code: 200, message: OK}
version: 1
