interactions:
- request:
    body: '{"herp": false, "derp": true}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"8934e0bb22a73b87"']
      location: [/v0/COLLECTION_1/KEY_1/refs/8934e0bb22a73b87]
      x-orchestrate-req-id: [4eb2d630-825d-11e4-a6de-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: '{"foo": true}'
    headers:
      Content-Type: [application/merge-patch+json]
    method: PATCH
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"8fba6a8176205694"']
      location: [/v0/COLLECTION_1/KEY_1/refs/8fba6a8176205694]
      x-orchestrate-req-id: [4ec4d790-825d-11e4-a439-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"herp":false,"derp":true,"foo":true}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/8fba6a8176205694]
      content-type: [application/json]
      etag: ['"8fba6a8176205694"']
      last-modified: ['Sat, 13 Dec 2014 00:16:39 GMT']
      x-orchestrate-req-id: [4ed72710-825d-11e4-a70c-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: '{"bar": false}'
    headers:
      Content-Type: [application/merge-patch+json]
      If-Match: ['"8fba6a8176205694"']
    method: PATCH
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"2a0181b53da7eb3f"']
      location: [/v0/COLLECTION_1/KEY_1/refs/2a0181b53da7eb3f]
      x-orchestrate-req-id: [4ee81700-825d-11e4-a6de-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"herp":false,"derp":true,"foo":true,"bar":false}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/2a0181b53da7eb3f]
      content-type: [application/json]
      etag: ['"2a0181b53da7eb3f"']
      last-modified: ['Sat, 13 Dec 2014 00:16:39 GMT']
      x-orchestrate-req-id: [4ef97c20-825d-11e4-a439-12313d2f7cdc]
    status: {code: 200, message: OK}
version: 1
