interactions:
- request:
    body: '{"herp": false, "derp": true}'
    headers:
      Authorization: [Basic Yzk0MzU0NTMtYzdkMC00MTIxLWFiNmYtZGQwNWU2YWFlZmU0Og==]
      Content-Type: [application/json]
      If-None-Match: ['"*"']
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"8934e0bb22a73b87"']
      location: [/v0/COLLECTION_1/KEY_1/refs/8934e0bb22a73b87]
      x-orchestrate-req-id: [fadde950-7a5a-11e4-b516-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: '{"foo": true}'
    headers:
      Authorization: [Basic Yzk0MzU0NTMtYzdkMC00MTIxLWFiNmYtZGQwNWU2YWFlZmU0Og==]
      Content-Type: [application/merge-patch+json]
    method: PATCH
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"8fba6a8176205694"']
      location: [/v0/COLLECTION_1/KEY_1/refs/8fba6a8176205694]
      x-orchestrate-req-id: [fafd3120-7a5a-11e4-a865-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic Yzk0MzU0NTMtYzdkMC00MTIxLWFiNmYtZGQwNWU2YWFlZmU0Og==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"herp":false,"derp":true,"foo":true}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/8fba6a8176205694]
      content-type: [application/json]
      etag: ['"8fba6a8176205694"']
      last-modified: ['Tue, 02 Dec 2014 19:39:50 GMT']
      x-orchestrate-req-id: [fb0e4820-7a5a-11e4-80fa-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: '{"bar": false}'
    headers:
      Authorization: [Basic Yzk0MzU0NTMtYzdkMC00MTIxLWFiNmYtZGQwNWU2YWFlZmU0Og==]
      Content-Type: [application/merge-patch+json]
      If-Match: ['"8fba6a8176205694"']
    method: PATCH
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"2a0181b53da7eb3f"']
      location: [/v0/COLLECTION_1/KEY_1/refs/2a0181b53da7eb3f]
      x-orchestrate-req-id: [fb1ee9f0-7a5a-11e4-b516-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic Yzk0MzU0NTMtYzdkMC00MTIxLWFiNmYtZGQwNWU2YWFlZmU0Og==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"herp":false,"derp":true,"foo":true,"bar":false}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/2a0181b53da7eb3f]
      content-type: [application/json]
      etag: ['"2a0181b53da7eb3f"']
      last-modified: ['Tue, 02 Dec 2014 19:39:50 GMT']
      x-orchestrate-req-id: [fb30c440-7a5a-11e4-a865-12313d2f9238]
    status: {code: 200, message: OK}
version: 1
