interactions:
- request:
    body: '{"herp": true, "derp": false}'
    headers:
      Authorization: [Basic NTUxOGFhOWMtNGRlZS00ZTY4LWE5ZTUtMzJhMGZjOTRiZWQ3Og==]
      Content-Type: [application/json]
      If-None-Match: ['"*"']
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"ec8a5c81d05b717c"']
      location: [/v0/COLLECTION_1/KEY_1/refs/ec8a5c81d05b717c]
      x-orchestrate-req-id: [eb8b7bc0-79a1-11e4-a865-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: '[{"path": "derp", "value": true, "op": "add"}]'
    headers:
      Authorization: [Basic NTUxOGFhOWMtNGRlZS00ZTY4LWE5ZTUtMzJhMGZjOTRiZWQ3Og==]
      Content-Type: [application/json-patch+json]
    method: PATCH
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"75ce2d3c323e37d3"']
      location: [/v0/COLLECTION_1/KEY_1/refs/75ce2d3c323e37d3]
      x-orchestrate-req-id: [ebaa4e60-79a1-11e4-80fa-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NTUxOGFhOWMtNGRlZS00ZTY4LWE5ZTUtMzJhMGZjOTRiZWQ3Og==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"herp":true,"derp":true}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/75ce2d3c323e37d3]
      content-type: [application/json]
      etag: ['"75ce2d3c323e37d3"']
      last-modified: ['Mon, 01 Dec 2014 21:35:07 GMT']
      x-orchestrate-req-id: [ebbc4fc0-79a1-11e4-80fa-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: '[{"path": "herp", "value": false, "op": "add"}]'
    headers:
      Authorization: [Basic NTUxOGFhOWMtNGRlZS00ZTY4LWE5ZTUtMzJhMGZjOTRiZWQ3Og==]
      Content-Type: [application/json-patch+json]
      If-Match: ['"75ce2d3c323e37d3"']
    method: PATCH
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"8934e0bb22a73b87"']
      location: [/v0/COLLECTION_1/KEY_1/refs/8934e0bb22a73b87]
      x-orchestrate-req-id: [ebcd3fb0-79a1-11e4-b516-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NTUxOGFhOWMtNGRlZS00ZTY4LWE5ZTUtMzJhMGZjOTRiZWQ3Og==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"herp":false,"derp":true}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/8934e0bb22a73b87]
      content-type: [application/json]
      etag: ['"8934e0bb22a73b87"']
      last-modified: ['Mon, 01 Dec 2014 21:35:08 GMT']
      x-orchestrate-req-id: [ebde2fa0-79a1-11e4-a865-12313d2f9238]
    status: {code: 200, message: OK}
version: 1
