interactions:
- request:
    body: '{"derp": true}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"e3f664c2807f4787"']
      location: [/v0/COLLECTION_1/06f5e7a6a820c0d1/refs/e3f664c2807f4787]
      x-orchestrate-req-id: [51138280-825d-11e4-a70c-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/06f5e7a6a820c0d1/refs?values=false
  response:
    body: {string: !!python/unicode '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"06f5e7a6a820c0d1","ref":"e3f664c2807f4787","reftime":1418429803177},"reftime":1418429803177}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [51249980-825d-11e4-a6de-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/06f5e7a6a820c0d1?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [51347800-825d-11e4-a439-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
