interactions:
- request:
    body: '{"herp": "hello"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"34a6f4738cd1be48"']
      location: [/v0/COLLECTION_1/06f5e76a9a20c0d0/refs/34a6f4738cd1be48]
      x-orchestrate-req-id: [47e97890-825d-11e4-a70c-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: '{"burp": "goodbye"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"07532aa61503e758"']
      location: [/v0/COLLECTION_1/06f5e76b0e207c8f/refs/07532aa61503e758]
      x-orchestrate-req-id: [47fb2bd0-825d-11e4-a6de-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/06f5e76a9a20c0d0/relations/friends
  response:
    body: {string: !!python/unicode '{"count":0,"results":[]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [480e1790-825d-11e4-a439-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/06f5e76a9a20c0d0/relation/friends/COLLECTION_1/06f5e76b0e207c8f
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [48259730-825d-11e4-a70c-12313d2f9238]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/06f5e76a9a20c0d0/relations/friends
  response:
    body: {string: !!python/unicode '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"06f5e76b0e207c8f","ref":"07532aa61503e758","reftime":1418429787919},"value":{"burp":"goodbye"},"reftime":1418429787919}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [48379890-825d-11e4-a6de-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/06f5e76a9a20c0d0/relation/friends/COLLECTION_1/06f5e76b0e207c8f?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [484924c0-825d-11e4-a439-12313d2f7cdc]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?force=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [485a62d0-825d-11e4-a6de-22000a0d84a1]
    status: {code: 204, message: No Content}
version: 1
