interactions:
- request:
    body: '{"herp": "hello"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"34a6f4738cd1be48"']
      location: [/v0/COLLECTION_1/06f5ef15f620c0d8/refs/34a6f4738cd1be48]
      x-orchestrate-req-id: [737f0b40-825e-11e4-a70c-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=herp%3Ahello&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"06f5ef15f620c0d8","ref":"34a6f4738cd1be48","reftime":1418430290424},"value":{"herp":"hello"},"score":15.59388256072998,"reftime":1418430290424}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [758cb590-825e-11e4-a70c-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/06f5ef15f620c0d8?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [759dcc90-825e-11e4-a6de-22000a0d84a1]
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?sort=value.herp%3Adesc&query=%2A&aggregate=value.herp%3Astats&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":7,"aggregates":[{"value_count":1,"statistics":{"min":2.0,"max":2.0,"mean":2.0,"sum":2.0,"sum_of_squares":4.0,"variance":0.0,"std_dev":0.0},"field_name":"value.herp","aggregate_kind":"stats"}],"results":[{"path":{"collection":"COLLECTION_1","key":"06f5ef247520bc64","ref":"56c916e30b97c1a9","reftime":1418430294133},"value":{"herp":2},"reftime":1418430294133}],"next":"/v0/COLLECTION_1?limit=1&aggregate=value.herp%3Astats&sort=value.herp%3Adesc&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&aggregate=value.herp%3Astats&sort=value.herp%3Adesc&query=%2A&offset=1>;
          rel="next"']
      x-orchestrate-req-id: [77dce720-825e-11e4-a6de-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/06f5ef247520bc64?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [78088b00-825e-11e4-a6de-22000a0d84a1]
    status: {code: 204, message: No Content}
version: 1
