interactions:
- request:
    body: '{"name": "shark"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"5fffb6982dc5d7e1"']
      location: [/v0/COLLECTION_1/08fd99c28e208dc7/refs/5fffb6982dc5d7e1]
      x-orchestrate-req-id: [ee6e9420-d1a9-11e4-ab93-12313d2f7cdc]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"name": "dog"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/slog
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"99196373575d4385"']
      location: [/v0/COLLECTION_1/KEY_1/events/slog/1427148851127/647842987279667200]
      x-orchestrate-req-id: [eea27560-d1a9-11e4-ab93-12313d2f7cdc]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%40path.kind%3A%28event%29+AND+%28dog%29&limit=5
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","kind":"event","key":"KEY_1","type":"slog","timestamp":1427148851127,"ordinal":647842987279667200,"ref":"99196373575d4385","reftime":1427148851127,"ordinal_str":"08fd99c3b7085000"},"value":{"name":"dog"},"score":8.424690246582031,"reftime":1427148851127}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [f0c50740-d1a9-11e4-a2f5-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%40path.kind%3A%28event+item%29+AND+%28dog%29&limit=5
  response:
    body: {string: !!python/unicode '{"count":2,"total_count":2,"results":[{"path":{"collection":"COLLECTION_1","kind":"event","key":"KEY_1","type":"slog","timestamp":1427148851127,"ordinal":647842987279667200,"ref":"99196373575d4385","reftime":1427148851127,"ordinal_str":"08fd99c3b7085000"},"value":{"name":"dog"},"score":7.290459632873535,"reftime":1427148851127},{"path":{"collection":"COLLECTION_1","kind":"item","key":"08fd99c2f2205a39","ref":"99196373575d4385","reftime":1427148850930},"value":{"name":"dog"},"score":5.978311538696289,"reftime":1427148850930}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [f1071950-d1a9-11e4-8248-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=dog&limit=5
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","kind":"item","key":"08fd99c2f2205a39","ref":"99196373575d4385","reftime":1427148850930},"value":{"name":"dog"},"score":5.894976615905762,"reftime":1427148850930}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [f1472f90-d1a9-11e4-ab93-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?force=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [f15671d0-d1a9-11e4-ab93-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
