interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"06f5e7b93f20bc5b","ref":"56c916e30b97c1a9","reftime":1418429807936},"value":{"herp":2},"score":1.0,"reftime":1418429807936}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [57248ca0-825d-11e4-a6de-22000a0d84a1]
    status: {code: 200, message: OK}
version: 1
