interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","kind":"item","key":"08fd74b9ae208db6","ref":"545689fb72dd515a","reftime":1427146423727},"value":{"lol":true},"score":1.0,"reftime":1427146423727}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [4859bd80-d1a4-11e4-8248-22000a0d84a1]
    status: {code: 200, message: OK}
version: 1
