interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":9,"results":[{"path":{"collection":"COLLECTION_1","kind":"item","key":"08fd74c14420f067","ref":"545689fb72dd515a","reftime":1427146425669},"value":{"lol":true},"score":1.0,"reftime":1427146425669}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      x-orchestrate-req-id: [4af8d260-d1a4-11e4-8248-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&query=%2A&offset=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":9,"results":[{"path":{"collection":"COLLECTION_1","kind":"item","key":"08fd74bf4c208db8","ref":"545689fb72dd515a","reftime":1427146425164},"value":{"lol":true},"score":1.0,"reftime":1427146425164}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=2","prev":"/v0/COLLECTION_1?limit=1&query=%2A&offset=0"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=2>; rel="next"', '</v0/COLLECTION_1?limit=1&query=%2A&offset=0>;
          rel="prev"']
      x-orchestrate-req-id: [4b3a6f40-d1a4-11e4-a2f5-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&query=%2A&offset=0
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":9,"results":[{"path":{"collection":"COLLECTION_1","kind":"item","key":"08fd74c14420f067","ref":"545689fb72dd515a","reftime":1427146425669},"value":{"lol":true},"score":1.0,"reftime":1427146425669}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      x-orchestrate-req-id: [4b4b1110-d1a4-11e4-8248-22000a0d84a1]
    status: {code: 200, message: OK}
version: 1
