interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":10,"results":[{"path":{"collection":"COLLECTION_1","key":"06f5e7ccbc20c0d3","ref":"545689fb72dd515a","reftime":1418429812925},"score":1.0,"reftime":1418429812925}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      x-orchestrate-req-id: [5b7dad90-825d-11e4-a70c-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&query=%2A&offset=1&query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":3,"results":[{"path":{"collection":"COLLECTION_1","key":"06f5e7d91320bc5e","ref":"545689fb72dd515a","reftime":1418429816083},"value":{"lol":true},"score":1.0,"reftime":1418429816083}],"next":"/v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2","prev":"/v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2>; rel="next"',
        '</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0>; rel="prev"']
      x-orchestrate-req-id: [5bc564f0-825d-11e4-a6de-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0&query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":10,"results":[{"path":{"collection":"COLLECTION_1","key":"06f5e7ccbc20c0d3","ref":"545689fb72dd515a","reftime":1418429812925},"score":1.0,"reftime":1418429812925}],"next":"/v0/COLLECTION_1?limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&offset=1>;
          rel="next"']
      x-orchestrate-req-id: [5bdeb950-825d-11e4-a70c-12313d2f9238]
    status: {code: 200, message: OK}
version: 1
