interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"06f5e7efeb20bc60","ref":"545689fb72dd515a","reftime":1418429821932},"value":{"lol":true},"score":1.0,"reftime":1418429821932}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      x-orchestrate-req-id: [5c8cd3a0-825d-11e4-a6de-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"06f5e7efeb20bc60","ref":"545689fb72dd515a","reftime":1418429821932},"value":{"lol":true},"score":1.0,"reftime":1418429821932}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      x-orchestrate-req-id: [5c9f2321-825d-11e4-a70c-12313d2f9238]
    status: {code: 200, message: OK}
version: 1
